{% extends "diary_app/template.html" %}

{% block head_title %} Diary Entries {% endblock %}

{% block content %}
    <h1 class="text-center dl-header">Past Diaries</h1> 
    {% for diary in diaries %}
        <div class="container diary-list col-md-9">   
            <a href="{% url 'diary_item' pk=diary.pk %}">
                <div>
                    {{ diary.title }} 
                </div>
            </a>
            <div>
                {{ diary.publish_date }}
            </div>
            {% if diary.image %}
                <img class="thumbnail ml-auto" src="{{ diary.image.url }}" alt="{{ diary.title }}" />
            {% endif %}
            <div>
                <em>{{diary.content|truncatewords:40}}</em>
            </div>
        </div> 
        
            


    {% endfor %}
    <div class="container new-diary-link-btn">
        <a class="btn btn-success col-md-3 col-5 offset-md-1" href="new_diary/">Add New Diary</a>
    </div>

{% endblock %}