{% extends "diary_app/template.html" %}

{% block content %}
<div class="home-container">
    <div class="home-row text-center">
        <h1 class="home-item home-title animated fade-in-1">Memento</h1>
        <h3 class="home-item home-font fade-in-2">Read, Write, and Reflect on Life's Moments</h3>
        <a class="btn btn-success home-item fade-in-2" href="diary/">View Past Diaries</a>
        <a class="btn btn-success home-item fade-in-2" href="diary/new_diary/">Create New Diary</a>
    </div>
</div>
{% endblock %}