{% block navbar %}
<nav class="navbar navbar-expand navbar-dark bg-primary">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item logo active" >
        <a class="nav-link" href="/">Memento, Diary App</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/diary">Past Diaries</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/diary/new_diary">New Diary</a>
            </li>
    </ul>
</nav>
{% endblock %}