.home-title {
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.home-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form-container {
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.form-item.form-item {
    margin: 1em;
}
.logo.logo {
    font-size: 20px;
}
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-row {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
}
.home-item {
    margin: .7em;
    padding: .3em;
}
.home-item.btn {
    font-size: 20px;
}

.fade-in-1 {
    animation: FadeIn 1s;
}
.fade-in-2 {
    animation: FadeIn 2s;
}

.new-diary-header {
    padding-top: 1em;
}
.dl-header {
    margin: 1em;
}
.diary-list {
    padding: 1.3em;
    margin-bottom: 1em;
    box-shadow: 3px 3px 3px 2px;
}
.diary-detail-item {
    padding: .8em;
}
.detail-image {
    width: 100%;
}
.thumbnail {
    height: 100px;
    width: 200px;
}
.new-diary-link-btn {
    margin-top: 3em;
    margin-bottom: 3em;
}
.asteriskField {
    display: none;
}
@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}